html {
    background-color: #8800ff;
}

body {
    width: 800px;
    color: black;
    max-width: 95%;
    padding: 1rem;
    margin: 1rem auto;
    border: 0.5rem solid black;
    font-family: 'Roboto', sans-serif;
    background-color: #f7ff00;
}

#title {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
}

#logo {
    height: 3rem;
}

#title-div {
    margin-top: 1rem;
}

hr {
    margin: 1rem 0;
    padding: 0;
    height: 0;
    border: 0.05rem solid black;
}

.col-12 {
    padding: 0.2rem;
    border: 0;
    margin: 0;
    text-align: center;
}

.col-6 {
    padding: 0.2rem;
    border: 0;
    margin: 0;
    text-align: center;
}

.box {
    padding: 0;
    margin: 0;
    border: 0.1rem solid black;
    border-radius: 0.1rem;
    width: 100%;
    max-width: 30rem;
    text-align: center;
}

#warn {
    color: red;
    font-style: italic;
}

button {
    background-color: #d9d9d9;
}

.grid-item {
    background-color: white;
}
