html {
    background-color: #8800ff;
}

body {
    font-size: 0.8rem;
    width: 800px;
    max-width: 95%;
    margin: 0.5rem auto;
    border: 0.5rem solid black;
    font-family: 'Roboto', sans-serif;
    background-color: #f7ff00;
}

h1 {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.6rem;
    font-family: 'Permanent Marker', cursive;
}

#logo {
    height: 1.8rem;
}

.col-12 {
    padding: 0.5rem;
    border: 0;
    margin: 0;
}

.box {
    padding: 0;
    margin: 0;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    width: 100%;
    text-align: center;
}

#warn {
    color: red;
    font-style: italic;
}

button {
    background-color: #f0f0f0;
}
