html {
    background-color: #25a26e;
}

body {
    font-size: 1.2rem;
    width: 800px;
    max-width: 95%;
    margin: 1rem auto;
    border: 0.5rem solid black;
    font-family: source sans pro;
    background-color: #f6ffa1;
}

.container {
    margin-bottom: 1.0rem;
    margin-top: 1.0rem;
}

button {
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    background-color: #f0f0f0;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 0.8rem;
  }
}
